{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}计划申请{% endblock %}
{% block head_extends %}
    <link rel="stylesheet" href="{% static 'plan_management/css/plan_applications.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
{% endblock %}
{% block plan_show %}show{% endblock %}
{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active text-dark" href="{% url 'plan_management:plan_applications' %}">计划申请</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'plan_management:plan_review' %}">计划审核</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'plan_management:plan_summary' %}">计划汇总</a>
        </li>
    </ul>

    <div class="container-fluid mt-2">
        <div class="row bg-info">
            <div class="col-md-2 text-justify">
                <div class="mt-2">
                    <h6 class="mb-0 text-white font-weight-normal">{{ user.get_department }}</h6>
                </div>
            </div>
            <div class="col-md-2 offset-md-8">
                {% if perms.plan_management.add_plan %}
                    <a href="{% url 'plan_management:add_plan' %}" class="btn btn-light float-right" title="添加申请">
                    <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <table class="table table-sm table-striped table-bordered text-center">
        <thead class="">
            <tr>
                <th scope="col">序号</th>
                <th scope="col">申报部门</th>
                <th scope="col">申报人</th>
                <th scope="col">年度</th>
                <th scope="col">申请日期</th>
                <th scope="col">申请状态</th>
                <th scope="col">操作人</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for plan in plan_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ plan.department.department_name }}</td>
                    <td>{{ plan.user.profile.nickname }}</td>
                    <td>{{ plan.year }}</td>
                    <td>{{ plan.date_of_application }}</td>
                    <td>{{ plan.application_status.status }}</td>
                    <td>
                        {% for foo in plan.operator.all %}
                            {{ foo.profile.nickname }}
                        {% endfor %}
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle bg-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                操作
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'plan_management:view_plan' plan.pk %}">查看</a>
                                {% if perms.plan_management.change_plan %}
                                    {% if plan.application_status.pk == 2 %}
                                        <li class="dropdown-item text-black-50 no_modify" data-toggle="tooltip" data-placement="right" title="提交后不可修改">修改</li>
                                    {% else %}
                                        <a class="dropdown-item" href="{% url 'plan_management:plan_modify' plan.pk %}">修改</a>
                                    {% endif %}
                                {% endif %}
                                {% if perms.plan_management.add_plan %}
                                    {% if plan.application_status.pk == 2 %}
                                        <li class="dropdown-item text-black-50 no_submit" data-toggle="tooltip" data-placement="right" title="已提交">提交</li>
                                    {% else %}
                                        <a class="dropdown-item" onclick="submit_plan(this);" href="javascript:void(0)" plan_pk="{{ plan.pk }}">提交</a>
                                    {% endif %}
                                {% endif %}
                                {% if perms.plan_management.delete_plan %}
                                    {% if plan.application_status.pk == 2 %}
                                        <li class="dropdown-item text-black-50 no_delete" data-toggle="tooltip" data-placement="right" title="提交后不可删除">删除</li>
                                    {% else %}
                                        <a class="dropdown-item" onclick="delete_plan(this);" href="javascript:void(0)" plan_pk="{{ plan.pk }}">删除</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="SubmitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel">将提交至以下审核人：</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ department_leader }}
          </div>
          <div class="modal-footer">
            <button id="submit_yes" type="button" class="btn btn-danger" data-dismiss="modal">确认</button>
            <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            确认要删除该申请？
          </div>
          <div class="modal-footer">
              <button id="delete_yes" type="button" class="btn btn-danger" data-dismiss="modal">确认</button>
            <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script>
    // 冒泡提示
        $('.no_modify').tooltip();
        $('.no_delete').tooltip();
        $('.no_submit').tooltip();

    // 点击提交时给提交键添加class：submit，好让提交ajax时找到计划的plan_pk
        function submit_plan(obj){
            $('#SubmitModal').modal();
            console.log(obj);
            $(obj).addClass('submit');
        }
    // ajax提交请求，通过则提交数据并刷新页面
        $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}}); //当ajax请求方式为post时需要加这一句。
        $('#submit_yes').click(function () {
            var plan_pk = $('.submit').attr('plan_pk');
            $.ajax({
                url:"{% url 'plan_management:plan_submit' %}",
                type:'POST',
                cache:false,
                data:{
                    plan_pk:plan_pk
                },
                success:function (data) {
                  if(data['status'] == 'SUCCESS'){
                      console.log(data);
                      window.location.reload()
                  }else{
                      console.log(data)
                  }
                },
                error:function (xhr) {
                    console.log(xhr)
                }
            })
        });
    // 点击删除时给删除键添加class：delete，好让提交ajax时找到计划的plan_pk
        function delete_plan(obj){
            $('#DeleteModal').modal();
            console.log(obj);
            $(obj).addClass('delete');
        }
    // ajax提交删除请求，通过则删除数据并刷新页面
        $('#delete_yes').click(function () {
            var plan_pk = $('.delete').attr("plan_pk");
            $.ajax({
                url:"{% url 'plan_management:plan_delete' %}",
                type:'GET',
                cache:false,
                data:{
                    plan_pk:plan_pk
                },
                success:function (data) {
                    console.log(data);
                    if (data['status'] == 'SUCCESS'){
                        window.location.reload();
                    }
                },
                error:function (xhr) {
                    console.log(xhr)
                }
            });
        })
    </script>
{% endblock %}