{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}修改计划书{% endblock %}
{% block head_extends %}
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}
{% block plan_show %}show{% endblock %}
{% block content %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'plan_management:plan_applications' %}">计划申请</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'plan_management:plan_review' %}">计划审核</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light bg-info" href="{% url 'plan_management:plan_summary' %}">计划汇总</a>
        </li>
    </ul>

    <div class="container-fluid">
        <div class="row bg-info">
            <div class="col-md-2 text-justify">
                <div class="mt-3 mb-3">
                    <h6 class="text-white font-weight-normal">修改计划书</h6>
                </div>
            </div>
            <div class="col-md-2 offset-md-8">
                <a href="{% url 'plan_management:plan_summary' %}" class="btn btn-light float-right mt-1" title="返回上一页">
                    <i class="fa fa-arrow-left fa-lg text-info" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <form id="summary-form" action="#" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col">
                        <label for="{{ form.project_name.id_for_label }}">申报部门 </label>
                        {{ form.project_name }}
                    </div>
                    <div class="col">
                        <label for="{{ form.year.id_for_label }}">年度 </label>
                        {{ form.year }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="alert float-right" role="alert">
                            <sapn class="error_message"></sapn>
                        </div>
                    </div>
                </div>
                <input class="btn btn-info float-right" type="submit" value="修改">
            </form>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body text-center text-success">
            修改成功
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block script_extends %}
    <script src="{% static 'bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script>
        $('#exampleModal').on('hidden.bs.modal', function () {
            window.location.href='{% url 'plan_management:plan_summary' %}'
        })
        $('#summary-form').submit(function () {
            $('.error_message').text('');
            $('.alert').removeClass('alert-danger');
            $.ajax({
                url:'{% url 'plan_management:summary_modify_interface' summary.pk %}',
                type:'POST',
                data:$(this).serialize(),
                cache:false,
                success:function (data) {
                    if (data['status'] == 'SUCCESS'){
                        console.log(data);
                        $('#exampleModal').modal()
                    }else{
                        if (data['status'] == 'ERROR'){
                            console.log(data);
                            $('.alert').addClass('alert-danger');
                            $('.error_message').text(data['message'])
                        }
                    }
                },
                error:function (xhr) {
                    console.log(xhr)
                }
            });
            return false;
        });
        $("#date_input").datetimepicker({
            format: "yyyy",
            showMeridian: true,
            autoclose: true,
            todayBtn: true,
            startView: 4,
            minView:4,
            language: 'zh-CN',
            pickerPosition: "bottom-left",
        });
    </script>
{% endblock %}