{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}系统首页{% endblock %}

{% block head_extends %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'echarts/echarts.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="main" class=""></div>
{% endblock %}

{% block script_extends %}
    <script>
        var myChart = echarts.init(document.getElementById('main'));
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    magicType: {show: true, type: ['line', 'bar']},
                    saveAsImage: {show: true},
                },
                orient:'vertical',
                right: 20,
                itemGap: 20
            },
            legend: {
                data:['计划申请']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '数量',
                    min: 0,
                    max: 100,
                    interval: 10,
                    axisLabel: {
                        formatter: '{value} 次'
                    }
                },
            ],
            series: [
                {
                    name:'计划申请',
                    type:'bar',
                    data:[4, 13, 29, 30, 25, 47, 12, 50, 55, 50, 56, 80]
                },
            ]
        };
        window.onresize = myChart.resize;
        myChart.setOption(option);
    </script>
{% endblock %}